h1.username, h3.motive {
    margin: 20px 10%;
}


form.my-form {
    margin:5% 10%;
    padding: 50px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    
}

form.my-form fieldset {
    border: 1px solid #ccc;
    padding: 20px;
}

form.my-form fieldset legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
    font-style: oblique;
}

form.my-form .form-group {
    margin-bottom: 20px;
}

form.my-form .form-group label {
    margin-bottom: 5px;
    font-size: 20px;
}

form.my-form .form-group .due_date {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


form.my-form .form-group textarea {
    height: 100px;
    padding: 10px;
}

form.my-form .form-group .submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

form.my-form .form-group .submit-btn:hover {
    background-color: #0056b3;
}

form.my-form .bottom-group {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
} 

form.my-form .check-container .mark_as {
    border: 2px solid black;
    height: 10px;
    width: 10px;
}

form.my-form .check-container label {
    position: relative;
    display: inline-block;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
}

form.my-form .check-container .mark_as:checked {
    
}