.each-task {
    background-color: #fff;
    margin: 20px 10%;
    padding: 10px 20px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

div.no-task p {
    background-color: #fff;
    margin: 20px 10%;
    padding: 30px 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.each-task > h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: italic;
}

.each-task .task-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;    
}

.each-task .due-date {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: red;
}

.each-task .completed {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.each-task a{
    position: relative;
    left: 22em;
}


/* edt_task html styling */


#edit{
    margin: 150px 25%;
    position: fixed;
    top: 0;
    left: 0;
    width: 52%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 9999;
    color: white;
    padding: 20px;
}

#nun {
    padding-top: 0px;
    padding-bottom: 4px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    
}

#identifier {
    padding-top: 5px;
    padding-bottom: 4px;
}

#identifier ul {
    margin-top: 10px;
    list-style: none;
    display: block;
    margin-bottom: -10px;
}
#identifier ul li{
    margin-top: 15px;
}


#val {
    padding-top: 20px;
    padding-bottom: 4px;
}

#val p{
    padding-bottom: 5px;
}

#btn {
    padding-top: 5px;
}

.btn_sub{
    width: 50px;
    height: 30px;

}

#edit_cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(86, 158, 187, 0.32)
}


/*dit_task_id stylesheeet*/
#edit div {
    margin-top: 10px;
}

#edit div p {
    margin-top: 10px;
}

form div:nth-child(5) {
    display: flex;
}

form div:nth-child(5) p{
    margin-left: 5px;
}


#edit a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    padding: 6px;
    background-color: black;
}

#err {
    color: red;
    font-size: 15px;
    
}