.each-task {
    background-color: #fff;
    margin: 20px 10%;
    padding: 10px 20px;
    /* border-radius: 25px; */
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

div.no-task p {
    background-color: #fff;
    margin: 20px 10%;
    padding: 30px 20px;
    text-align: center;
    font-size: 28px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.each-task > h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: italic;
}

.each-task .task-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;    
}

.each-task .due-date {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: red;
}

.each-task .completed {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}