{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<section class="about">
  <div class="about-container">
    <h2>The Need for Task Management</h2>
    <h1>It's time to get Organized.</h1>
    <p>
      Taskeeper is the link between planning to do something and getting
      it done. This taskeeper software provides an overview of work
      in progress and enables tracking from conception to completion.
    </p>
  </div>
</section>
{% endblock %}
