{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
<section class="contact">
    <h1>CONTACT US</h1>
    <p class="desc">
        Email us with any questions or inquiries or put a call through. We would be happy to
        answer your questions and set up a meeting with you. TasKeeper can help
        set you apart from the flock!
    </p>
    <div class="deets">
        <p>Name: Jacob Precious Chiemezie</p>
        <p>Email: chiemezie.jacob@gmail.com</p>
        <p>Github: <a href="https://github.com/cheerio-ban">github</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/chiemezie-jacob/">linkedin</a></p>
    </div>
</section>
{% endblock %}