{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% if current_user %}
<h1>Hello, {{ current_user.username }}!</h1>
<h3>Go ahead and add tasks</h3>

<form class="my-form" action="" method="POST" novalidate>
<fieldset>
    {{ form.hidden_tag() }}
    <legend>
        Add Tasks
    </legend>
    <div class="form-group">
        <label for="task_title">{{ form.task_title.label }}</label>
        {{ form.task_title() }}<br>
        {% for error in form.task_title.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(cols=100, rows=10) }}<br> 
        {% for error in form.description.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="due_date">{{ form.due_date.label }}</label>
        {{ form.due_date(class='due_date') }}<br>
        {% for error in form.due_date.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="bottom-group">
        <div class="form-group check-container">
            <p>{{ form.mark_as_completed(class='mark_as') }} {{ form.mark_as_completed.label }}</p>
        </div>
        <div class="form-group">
            {{ form.add_task(class="submit-btn") }}<br>
        </div>
    </div>
</fieldset>
</form>



{% for task in tasks %}
<div>
    <p>{{task.body}}</p>
</div>
{% endfor %}
{% else %}
<h1>Hello, I am task keeper</h1>
{% endif %}
{% endblock %}