{% extends "layout.html" %}
{% block content %}
{% if current_user %}
<h1>Hello, {{ current_user.username }}</h1>

<form action="" method="POST" novalidate>
<fieldset>
    {{ form.hidden_tag() }}
    <legend>
        Add Tasks
    </legend>
    <div>
        {{ form.task_title.label }}
        {{ form.task_title() }}<br>
        {% for error in form.task_title.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description() }}<br>
        {% for error in form.description.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div>
        {{ form.due_date.label }}
        {{ form.due_date() }}<br>
        {% for error in form.due_date.errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div>
        <p>{{ form.mark_as_completed() }} {{ form.mark_as_completed.label }}</p>
    </div>
    <div>
        {{ form.add_task() }}<br>
    </div>
</fieldset>
</form>



{% for task in tasks %}
<div>
    <p>{{task.body}}</p>
</div>
{% endfor %}
{% else %}
<h1>Hello, I am task keeper</h1>
{% endif %}
{% endblock %}