<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>TaskKeeper 2023</title>
    {% endif %}
    <style>
        ul {
            display: flex;
            
        }
        ul > a {
            padding: 0 20px;
            list-style-type: none;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  </head>
  <body>
    <div class="nav-bar">
      <a href="{{ url_for('home') }}"><h2>TAS<span>K</span>EEPER</h2></a>
      <nav>
        <ul>
          <a href="{{ url_for('home') }}"><li>Home</li></a>
          <a href="{{ url_for('about') }}"><li>About</li></a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}"><li>Login</li></a>
          <a href="{{ url_for('register') }}"><li>Register</li></a>
          {% else %}
          <a href="{{ url_for('tasks') }}"><li>Tasks</li></a>
          <a href="{{ url_for('logout') }}"><li>Logout</li></a>
          {% endif %}
        </ul>
      </nav>
      <div class="nav-button">
        <a href="{{ url_for('contact')}}" class="contact"><button>Contact</button></a>
      </div>
    </div>


    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <ul>
        {% for message in messages %}
          <li class="flash-message success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>
