{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
{% if not tasks %}
<div class="no-task">
    <p>No tasks yet.</p>
</div>
{% endif %}
{% for task in tasks %}
<div class="each-task">
    <h1> {{ task.title }} </h1>
    <p class="task-desc"> {{task.body}}</p>
    <p class="due-date"> Due: {{ task.due_date }}</p>
    <p class="completed"> {{ 'Completed' if task.mark_as_completed == True else 'Not Completed' }}</p>

</div>
{% endfor %}
<!-- <h1>Tasks here.</h1> -->
{% endblock %}